body{
    font-family: 'Sacramento', cursive;
    margin: o;
}
.one{
    color: palevioletred;
    
}
p{
    font-size: 30px;
    color: indigo;
    margin-left: 10%;
    padding-left: 10%;
    
    
    
}
.half-width{
    width: 40%;
    float: left;

    
}
.half-width img{
    width: 50%;
    padding: 20%;
}

.two{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-color: seashell;
    padding: 10px 20px;
    border-radius: 1opx;
    color: black;

}
.three{
    text-decoration: none;
    background-repeat: no-repeat;
    background-color: palevioletred;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgba(3, 13, 15, 0.534);
    font-size: 22px;
    margin-left: 10%;
    
}

section{

    height: 750px;
    padding-bottom: 200px;
}
}
.four{
    background-image: url(image/biography-bg.png);
    background-repeat: no-repeat;
    background-color: seashell;
    padding: 10px 20px;
    border-radius: 1opx;
    color: black;
}
h1{
    text-align: center;
}
.zero img{
    width: 100%;
    
}
.zero{
    width: 25%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;

}
.zero img:hover{
    transform: scale(1.15);
}



.client-banner{
    background-image: url("footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align:center;
}
.client-name{
    color:black;
    font-size: 20px;
}
.padding-bottom{
    padding-bottom: 2%;
}
.clinet-words {
    font-weight: 500;
    font-size: 16px;
    margin-top: 80px;
  }
.client-banner h1{
    font-size: 50px;
    margin-top: 400px;
    margin-bottom: 100px;
}
.link-btn3 {
    background-image: linear-gradient(45deg, #ec5095, #ed4b71);
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 630px;
    height: 90px;
    margin-left: 400px;
    margin-top: 90px;
}
.link-btn3 p,h2 {
    color: #fff;
    margin-bottom: 0;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ec4f8f, #ed4b6f);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
footer{
    text-align: center;
    color: #707070;
    font-size: 20px;
}